body{
    font-family: 'Gentium Book Plus', serif;
    margin: 0;

}
.flex{
    display: flex;
    margin-bottom: 5%;
}

.first{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-left: 5%;
    
}
.second{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 59.jpg);
    padding-right: 5%;
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width img{
    width:100%

}
.button{
    background-color: brown;
    font-size: 25px;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    background-image: linear-gradient(blue,rgb(0, 255, 162));
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
.border{
    margin: 3%;
    
    box-shadow: 5px 5px 5px 5px gray;
    width: 40%;
    padding: 10px;
    border-radius: 15px;
}
p{
    font-size: 20px;
}
.fourth{
    text-align: center;
}
.fifth{
    padding: 5%;
}
.thirty-three{
    width:50%
}
.border1{
    box-shadow: 5px 5px 5px 5px gray;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
   
}
footer{
    
    text-align: center;
    background-color: black;
}