body{
    font-family: 'Gentium Book Plus', serif;

}
.flex{
    display: flex;
    margin-bottom: 5%;
}

.first{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.second{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 58.jpg);
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width img{
    width:100%
}
.button{
    background-color: brown;
    font-size: 25px;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    background-image: linear-gradient(blue,rgb(0, 255, 162));
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.border{
    border-color: black;
}
p{
    font-size: 20px;
}
.fourth{
    align-items: center;
}
.fifth{
    padding: 10%;
}
.thirty-three{
    width:33%
}